<h1> Vous êtes dans l'index </h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li>Restaurant : <%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    <li>Address : <%= restaurant.address %></li>
    <li>Rating : <%= restaurant.rating %></li>
    <br>
  <% end %>
</ul>
